.cartel-no-visto {
    width: 200px;
    height: 245px;
}

.cartel-visto {
    width: 200px;
    height: 245px;
    border: 1px solid red;
}

.cartel {
    width: 200px;
    height: 245px;
}

.cartel-grande {
    width: 400px;
    height: 435px;
}